.FilterTagContainer{
    height: 26px;
    max-height: 26px;
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 6px;
}
.FilterTagContainer >input{
    width: 20px;
    height: 20px;
    margin-right: 0;
    cursor: pointer;
}
.FilterTagContainer > label{
    color: var(--text-color);
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}