.whole_box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/Banner.png") no-repeat 50%;
    background-size: 100%;
    background-color: var(--auth-bg);
    /* filter: invert(var(--invert-color)); */
}

.main_box{
    height: fit-content;
    width: 500px;
    max-width: 100%;
    background-color: var(--auth-main-bg);
    border-radius: 20px;
    color: var(--text-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}