.dashboard{
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dashBoard-bg);
    color: var(--text-color);
}
.dashboardHolder{
    width: clamp(310px,calc(100% - 50px),1870px);
    height: clamp(750px,calc(100% - 50px),950px);
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
}
.dashboardMenuContainer{
    width: 21%;
    height: 100%;  
    box-shadow: var(--box-shadow);
    background-color: var(--header-bg);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboardMenu{
    width: calc(100% - 25px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dashboardMenuTop{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
}
.logoContainer{
    width: max-content;
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.menuItemsContainer{
    width: 75%;
    min-width: 205px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.activeMenuItem{
    width: 100%;
    height: 55px;
    background-color: var(--button-bg);
    border-radius: 9999px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: translateX(-8px);
}
.inactiveMenuItem{
    width: 100%;
    height: 55px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    transform: translateX(0);
    transition: 0.2s ease-in-out;
}
.menuItemIconContainer{
    margin-right: 18px;
    width: 28px;
    height: 28px;
}
.menuItemIcon{
    width: 28px;
    height: 28px;
}
.menuItemTitle{
    margin-right: 18px;
    font-weight: 600;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.dashboardMenuBottom{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logOutButton{
    width: 65%;
    min-width: 205px;
    height: 55px;
    border: 1px solid #CCCCCC;
    border-radius: 9999px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.logOutIcon{
    position: absolute;
    right: 15px;
    width: 28px;
    height: 28px;
}
.logOutText{
    font-weight: 600;
    font-size: 1.1rem;
    color: #FF1515;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dashboardMain{
    width: calc(79% - 25px);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.dashboardHeaderContainer{
    width: 100%;
    height: 75px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboardHeader{
    width: calc(100% - 36px);
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.mobileMenuSwitch{
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    display: none;
}
.mobileMenuIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.userInfoBox{
    width: max-content;
    height: 59px;
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}
.userProfileContainer{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    overflow: hidden;
}
.userProfile{
    width: 59px;
    height: 59px;
}
.userNameContainer{
    height: 100%;
    min-width: 90px;
    max-width: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.userName{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.userNameText{
    font-weight: 900;
    font-size: 1.2rem;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.userId{
    width: 100%;
    height: max-content;
}
.userIdText{
    font-size: 0.97rem;
    font-weight: 600;
    color: #A6A6A6;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25;
}
.themeSwitch{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.themeIcon{
    cursor: pointer;
}
                                        /* OUT LET Section */
.outLet{
    width: 100%;
    height: calc(100% - 100px);
}                                        




                                                /* @Media Section */
@media (max-width: 1200px) {
    .dashboardMenuContainer{
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        transition: 0.4s;
        z-index: 999;
        display: flex;
    }
    .menuOpen{
        right: 0;
    }
    .dashboardMain{
        width:100%;
    }
    .mobileMenuSwitch{
        display:block;
    }
}
@media (max-width: 400px) {
    .dashboardHolder{
        width: clamp(310px,calc(100% - 30px),1870px);
        height: clamp(800px,calc(100% - 30px),950px);
    }
}