.homeContainer{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
    /* overflow-x: hidden; */
}
                                                /* Begin The Journey Section */
.beginTheJourney{
    width: 90%;
    height: max-content;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.beginTheJourneyTopSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: max-content;
    width: 100%;
}
.beginTheJourneyHeadingTitle{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.beginTheJourneyHeadingTitleFirstLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.headingTitleFirstLineText{
    white-space: nowrap;
    font-size: clamp(2.3rem,2.5vw,3.2rem);
    font-weight: 900;
    user-select: none;
}
.headingTitleFirstLineTextBadge{
    white-space: nowrap;
    font-size: clamp(2.3rem,2.5vw,3.2rem);
    color: #ffffff;
    background-color: var(--home-text-badge);
    padding: 9px 18px;
    border-radius: 40px;
    font-weight: 900;
    user-select: none;
}
.beginTheJourneyHeadingTitleSecondLine{
    white-space: nowrap;
    font-size: 2.6rem;
    font-size: clamp(2.1rem,2.1vw,2.6rem);
    font-weight: 600;
    user-select: none;
}
.beginTheJourneyDescription{
    user-select: none;
    color: #4F4F4F;
    font-weight: 400;
    font-size: clamp(1rem,1.1vw,1.4rem);
    text-align: center;
    max-width: clamp(500px,36%,680px);
}
.beginTheJourneyButton{
    width: 14.3%;
    min-width: 215px;
    height: 54px;
    background-color: var(--button-bg);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.beginTheJourneyButton:hover{
    background-color: var(--button-hover);
}
.beginTheJourneyButton > span{
    color: #ffffff;
    font-weight: 600;
    font-size: 1.35rem;
    white-space: nowrap;
}
.beginTheJourneyBottomSection{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.rightSideImage{
    width: 18%;
    min-width: 171px;
    height: 369px;
    background: url(/images/manWorkingWithPc.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.activeStudents{
    width: 14.7%;
    min-width: 170px;
    height: 260px;
    background-color: #3DCAE8;
    color: #000000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}
.activeStudents > span{
    font-weight: 900;
    font-size: clamp(1.05rem,1.1vw,1.35rem);
    white-space: nowrap;
}
.middleImage{
    width: 17%;
    height: 175px;
    min-height: 175px;
    background: url(/images/manUsingKeyboard.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.twentyYearsOfWork{
    width: 14.7%;
    min-width: 170px;
    height: 260px;
    background-color: #DDDDDD;
    color: #000000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}
.twentyYearsOfWork > span{
    font-weight: 900;
    font-size: clamp(1.05rem,1.1vw,1.35rem);
    white-space: nowrap;
}
.leftSideImage{
    width: 18%;
    height: 369px;
    min-width: 171px;
    background: url(/images/boyWithBear.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
                                        /* Latest Online Courses Section */
.latestOnlineCourses{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 18px;
}
.latestOnlineCoursesHeading{
    width: clamp(340px,50%,570px);
    min-height: 103px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}
.latestOnlineCoursesTitleContainer{
    width: 332px;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
}
.latestOnlineCoursesTitleContainer > img{
    position: absolute;
    bottom: 0;
}
.latestOnlineCoursesTitleContainer > span{
    font-size: 1.95rem;
    font-weight: 900;
    z-index: 200;
    user-select: none;
    white-space: nowrap;
}
.latestOnlineCoursesDescription{
    max-width: 564px;
    height: max-content;
    color: #A6A6A6;
    font-weight: 600;
    user-select: none;
    text-align: center;
}
.sliderContainer{
    width: 75%;
    height: max-content;
    display: flex;
    overflow: hidden;
}
.sliderGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sliderItem{
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.sliderItemImageWrapper{
    width: 31%;
    max-width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sliderItemImage{
    width: 100%;
    height: 100%;
}
.sliderItemMeta{
    height: fit-content;
    max-height: 100%;
    width: 62%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sliderItemMetaHeading{
    width: 100%;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.sliderItemTitle{
    font-size: 1.4rem;
    font-weight: 900;
    user-select: none;
}
.sliderItemDescription{
    max-height: 70px;
    font-weight: 600;
    overflow: auto;
    text-overflow: ellipsis;
    scrollbar-width: thin;
}
.sliderItemPriceTagsContainer{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.sliderItemOlderPriceContainer{
    height: 54px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sliderItemOlderPrice{
    height: 40px;
    padding: 0rem 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB6B6;
    color: #E81313;
    font-weight: 900;
    position: relative;
    border-radius: 35px;
    cursor: pointer;
    user-select: none;
}
.sliderItemPriceOfferLine{
    width: 90px;
    border: 1px solid #FF1515;
    position: absolute;
    top: 23px;
    right: 30px;
    transform: rotate(345deg);
    z-index: 200;
}
.sliderItemPriceOfferPercentage{
    width: 55px;
    height: 54px;
    border: 1px solid #054F5F;
    background-color: #ffffff;
    color: #FF1515;
    font-size: 1.25rem;
    font-weight: 900;
    border-radius: 50%;
    position: absolute;
    left: -22px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}
.newPrice{
    height: 40px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: 900;
    background-color: #C1FEB0;
    color: #28B200;
    cursor: pointer;
    user-select: none;
}
.sliderItemActionsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.sliderItemReservation{
    margin-left: 5px;
    width: 180px;
    height: 51px;
    background-color: var(--button-bg);
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.sliderItemReservation:hover{
    background-color: var(--button-hover);
}
.sliderItemAddToCart{
    width: 22px;
    height: 24px;
}
.sliderItemAddToCartText{
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    user-select: none;
}
.carouselIndicatorsContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.carouselIndicators{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #B5B5B5;
    cursor: pointer;
    transition: 0.2s linear;
}
.carouselIndicators:hover{
    transform: scale(1.12);
}
.carouselIndicatorsActive{
    width: 32px;
    height: 12px;
    border-radius: 12px;
    background-color: var(--button-bg);
}
                                            /* Teachers Cards Section */
.TeachersCards{
    min-height: 825px;
    height: max-content;
    width: 90%;
}
                                            /* Self Presentation Section */
.selfPresentationContainer{
    width: 90%;
    height: 834px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.selfPresentationBanner{
    height: 100%;
    width: 36%;
    min-width: 425px;
    position: relative;
}
.selfPresentationBannerImage{
    width: 94%;
    height: 776px;
}
.twoDecadesOfExperience{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 45%;
    height: 280px;
    background-color: var(--button-bg);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.twoDecadesOfExperience > span{
    font-size: 1.8rem;
    font-size: clamp(1.5rem,1.5vw,1.9rem);
    font-weight: 900;
    color: #ffffff;
}
.selfPresentation{
    width: 44%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: hidden;
}
.selfPresentationHeading{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.selfPresentationTitle{
    font-weight: 800;
    font-size: clamp(1.7rem,1.8vw,2.2rem);
}
.selfPresentationDescription{
    font-weight: 600;
    color: #A6A6A6;
    font-size: clamp(0.98rem,0.95vw,1.15rem);
}
.prosAboutUs{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.prosAboutUsHeading{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.prosAboutUsIcon{
    width: 40px;
    height: 40px;
}
.prosAboutUsTitle{
    font-weight: 900;
    font-size: clamp(1.1rem,1.05vw,1.3rem);
    text-overflow: ellipsis;
}
.prosAboutUsDescription{
    font-weight: 600;
    color: #A6A6A6;
    font-size: clamp(0.98rem,0.95vw,1.15rem);
}
.knowMoreAboutOurTrip{
    margin: 0 auto;
    width: 42%;
    min-width: 240px;
    height: 55px;
    background-color: var(--button-bg);
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.knowMoreAboutOurTrip:hover{
    background-color: var(--button-hover);
}
.knowMoreAboutOurTripText{
    color: #ffffff;
    font-weight: 900;
    font-size: clamp(1.2rem,1.13vw,1.4rem);
    user-select: none;
    white-space: nowrap;
}
                                                    /* Road Map Container Section */
.roadMapContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 80px;
}
.roadMapHeading{
    width: max-content;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
}
.roadMapTitleContainer{
    width: max-content;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.roadMapTitle{
    font-weight: 900;
    font-size: 2.25rem;
    white-space: nowrap;
    user-select: none;
    z-index: 150;
}
.roadMapTitleBackGround{
    position: absolute;
    bottom: 0px;
}
.roadMapDescription{
    color: #A6A6A6;
    font-weight: 600;
    font-size: 1.15rem;
}
                                                    /* Courses Cards Section */
.CoursesCards{
    height: fit-content;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: var(--news-top-filter);
}

                                                    /* Wagon Slider Section */
.wagonSlider{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

                                                    /* Student Comment Section */
.studentComment{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--student-comment-bg);
}

                                                    /* News Cards Section */
.newsCard{
    height: fit-content;
    width: 100%;
    margin-bottom: 85px;
}
                                                    /* @Media Section */
@media (max-width: 1200px) {
    .beginTheJourneyBottomSection{
        width: 100%;
    }
    .rightSideImage,.leftSideImage{
        height: 295px;
    }
    .roadMapContainer{
        display: none;
    }
}
@media (max-width: 1000px) {
    .beginTheJourneyBottomSection{
        width: 100%;
    }
    .middleImage{
        display: none;
    }
                                        /* Latest Online Course Media */
    .latestOnlineCourses{
        width: 100%;
    }
}
@media (max-width: 900px) {
    .selfPresentationContainer{
        height: max-content;
        justify-content: center;
        align-items: center;
    }
    .selfPresentationBanner{
        display: none;
    }
    .selfPresentation{
        width: 80%;
    }
}
@media (max-width: 800px) {
    .sliderContainer{
        width: 85%;
    }
    .beginTheJourney{
        width: 100%;
    }
    .headingTitleFirstLineText {
        font-size: 2rem;
    }
    .headingTitleFirstLineTextBadge {
        font-size: 2rem;
        padding: 6px 9px;
    }
    .beginTheJourneyHeadingTitleSecondLine{
        font-size: 1.8rem;
    }
    .beginTheJourneyDescription{
        font-size: 1rem;
        max-width: 80%;
    }
    .beginTheJourneyBottomSection{
        width: max-content;
        gap: 85px;
    }
    .rightSideImage,.leftSideImage{
        display: none;
    }
    .activeStudents ,.twentyYearsOfWork{
        min-width: 228px;
    }
    .twentyYearsOfWork > span , .activeStudents > span{
        font-size: 1.35rem;
    }
}
@media (max-width: 700px) {
    .latestOnlineCourses{
        display: none;
    }
}
@media (max-width: 600px) {
    .headingTitleFirstLineText {
        font-size: 1.8rem;
    }
    .headingTitleFirstLineTextBadge {
        font-size: 1.8rem;
        padding: 6px 9px;
    }
    .beginTheJourneyBottomSection{
        flex-direction: column;
    }
    .selfPresentation{
        width: 100%;
    }
}