@import "tailwindcss";

*{
  box-sizing: border-box;
  direction: rtl;
  line-height: 1.5;
  font-weight: 400;
}
html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  /* direction: rtl; */
}

body > div:not([data-otp]) {
  direction: rtl;
}

[data-otp="true"] * {
  direction: ltr !important;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg: #FFFFFF; 
    --bottom-bg: #F4F4F4; 
}
.dark-theme {
    --bg-color: #212121;
    --text-color: #FFFFFF;
    --header-bg: #2E2E2E;
    --bottom-bg: #2E2E2E;
}
img{
  width: fit-content;
  height: fit-content;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Bold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans.ttf);
  font-weight: 600;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Medium.ttf);
  font-weight: 500px;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Light.ttf);
  font-weight: 400px;
}
