@import "tailwindcss";

*{
  box-sizing: border-box;
  direction: rtl;
  line-height: 1.5;
  font-family: IranSans;
  font-weight: 400;
}
html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  /* direction: rtl; */
}

body > div:not([data-otp]) {
  direction: rtl;
}

[data-otp="true"] * {
  direction: ltr !important;
}

:root {
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --header-bg: #FFFFFF; 
    --bottom-bg: #F4F4F4;
    --auth-bg: #F4F4F4;
    --auth-main-bg: #FFFFFF;
    --input-bg: #F4F4F4;
    --news-boxs: #FFFFFF;
    --news-top-filter: #F4F4F4;
    --news-show-icons: #FFFFFF;
    --news-description: #909090;
    --news-shadow-color: rgba(0,0,0,0.1);
    --comment-reply-bg: #F4F4F4;
    --button-bg: #0CBDE2;
    --invert-color: 0;
}
.dark-theme {
    --bg-color: #212121;
    --text-color: #FFFFFF;
    --header-bg: #2E2E2E;
    --bottom-bg: #2E2E2E;
    --auth-bg: #212121;
    --auth-main-bg: #2E2E2E;
    --input-bg: #4F4F4F;
    --news-boxs: #2E2E2E;
    --news-show-icons: #4F4F4F;
    --news-top-filter: #2E2E2E;
    --news-description: #A6A6A6;
    --news-shadow-color: rgba(0,0,0,0);
    --comment-reply-bg: #3C3C3C;
    --button-bg: #07687C;
    --invert-color: 1;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 500;
}

::view-transition-new(root) {
  z-index: 10000;
}

img{
  width: fit-content;
  height: fit-content;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Bold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Black.ttf);
  font-weight: 800;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans.ttf);
  font-weight: 600;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Medium.ttf);
  font-weight: 500px;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Light.ttf);
  font-weight: 400px;
}

