@import "tailwindcss";

html, body, * , #root{
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  line-height: 1.5;
  font-weight: 400;
}
image{
  width: fit-content;
  height: fit-content;
}
@font-face {
  font-family: IranSans;
  src: url(/fonts/persian-fonts/iran-sans/IRANSans_Bold.ttf);
}
