.whole_box{
    /* border: 1px solid firebrick; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.title_box{
    /* border: 1px solid green; */
    width: 85%;
    min-width: 300px;
    /* height: 460px; */
    margin-top: 50px;
    height: fit-content;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-items: center;
    row-gap: 24px;
}

@media (max-width: 1400px){
    .title_box{width: 90%}
}

.data_container{
    /* border: 1px solid red; */
    width: 90%;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
}