.viewAsMenuContainer{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.mobileMenuTitle{
    display: none;
    font-size: 1.04rem;
    font-weight: 600;
    user-select: none;
    white-space: nowrap;
}
.listSortIconContainer{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listSortIcon{
    width: 24px;
    height: 24px;
}
.sortFilterContainer{
    width: calc(88% - 70px);
    min-width: calc(88% - 70px);
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    overflow: hidden;
}
.selectedItem{
    width: 100%;
    min-width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: var(--button-bg);
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    box-shadow: var(--box-shadow);
    background-color: var(--bottom-bg);
    border-radius: 16px;
    overflow: hidden;
    z-index: 100;
}
.option {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.option:hover {
    background-color: var(--button-bg);
    opacity: 0.75;
}
.arrowIconContainer{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowIcon{
    width: 25px;
    height: 25px;
    transition: 0.35s ease-in-out;
}


@media (max-width: 1000px) {
    .mobileMenuTitle{
        display: block;
    }
    .listSortIconContainer{
        display: none;
    }
    .sortFilterContainer{
        display: none;
    }
    .arrowIconContainer{
        display: none;
    }
}