.bookedCoursesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.pageTitle{
    width: 100%;
    height: 58px;
    font-weight: 900;
    font-size: 2.4rem;
    white-space: nowrap;
}
.mainContainer{
    height: calc(100% - 58px - 60px - 48px);
    width: 100%;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.itemsInputContainer{
    margin-top: 20px;
    width: 95%;
    height: 40px;
}
.itemsContainer{
    width: 95%;
    height: calc(100% - 40px - 65px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
.item{
    height: 70px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.itemImageContainer{
    width: 10%;
    min-width: 130px;
    height: 70px;
    border-radius: 18px;
    overflow: hidden;
}
.itemImage{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.itemTitle{
    width: 12%;
    height: max-content;
    font-weight: 900;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemDescription{
    width: 21%;
    height: max-content;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #909090;
}
.itemInstructors{
    width: 14%;
    height: max-content;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemOpen{
    width: 13%;
    min-width: 115px;
    height: 45px;
    background-color: var(--button-bg);
    border-radius: 18px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    white-space: nowrap;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}
.itemOpen:hover{
    background-color: var(--button-hover);
}
.viewProduct{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
                                                /* Input Styles */
.formStyle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 50px;
}
.searchFilter{
    width: calc(30% - 50px);
    min-width: 180px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--input-bg);
    border-radius: 14px;
}
.searchSubmit{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filterIcon{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.searchInput{
    width: calc(100% - 40px);
    height: 40px;
    color: var(--text-color);
    border-radius: 16px;
    outline: none;
    text-indent: 10px;
}
                                                /* React Pagination */
.paginationContainer{
    width: max-content;
    height: 48px;
    background-color: var(--bottom-bg);
    border-radius: 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    list-style: none;
    direction: ltr;
}
.paginationButton{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prevPaginationIcon{
    color: var(--pagination-backButton);
    cursor: pointer;
}
.nextPaginationIcon{
    color: var(--button-bg);
    cursor: pointer;
}
.activePageItem{
    background-color: #0CBDE2;
    border-radius: 8px;
    width: 45px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    user-select: none;
}
.pageItem{
    border-radius: 8px;
    width: 45px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    user-select: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}



                                                /* @Media Section */
@media (max-width: 1000px) {
    .itemTitle{
        font-size: 1rem;
    }
    .itemDescription{
        font-size: 0.95rem;
    }
    .itemInstructors{
        font-size: 0.95rem;
    }
}
@media (max-width: 800px) {
    .itemImageContainer{
        min-width: 110px;
    }
    .itemTitle{
        width: 22%;
    }
    .itemDescription{
        display: none;
    }
    .itemInstructors{
        width: 22%;
    }
}
@media (max-width: 600px) {
    .itemImageContainer{
        min-width: 90px;
    }
    .itemTitle{
        font-size: clamp(0.88rem,2.53vw,0.95rem);
        min-width: 18%;
    }
    .itemInstructors{
        font-size: clamp(0.82rem,2.4vw,0.9rem);
        width: 16%;
    }
    .itemOpen{
        min-width: 55px;
        font-size: 0.75rem;
    }
    .formStyle{
        justify-content: space-between;
        gap: 0;
    }
    .pageTitle{
        font-size: 1.8rem;
    }
}
@media (max-width: 450px) {
    .itemsInputContainer{
        display: none;
    }
    .itemsContainer{
        height: calc(100% - 50px);
        margin-top: 20px;
    }
    .itemInstructors{
        display: none;
    }
}